{% extends 'base.html' %}
{% block content %}
{% load static%}
<div class="container-fluid">
      <div class="row col-md-12">
        <div class="col-sm-3 col-md-2 sidebar">

          {% include 'include.html' %}

        </div>
        <div class="col-sm-9  col-md-10">
            <!-- Main content -->

          <!-- /. box -->
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Create A Request</h3>
            </div>
            <div class="box-body">

              <div class="input-group">
                <input id="new-event" type="text" class="form-control" placeholder="Create a request">

                <div class="input-group-btn">
                  <button id="add-new-event" type="button" class="btn btn-primary btn-flat">Create</button>
                </div>
                <!-- /btn-group -->
              </div>
              <!-- /input-group -->
            </div>
          </div>

        </div>

      </div>
</div>






{% endblock %}